@font-face {
	font-family: 'JetBrains Mono';
	src:
		url('../assets/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
		url('../assets/fonts/JetBrainsMono-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

code {
	font-family: 'JetBrains Mono', Consolas, monospace;
}

/* Code block wrapper */
.code-wrapper {
	border-radius: 1rem;
	margin: 0 -1rem 1.75rem;
	position: relative;
	overflow: hidden;
}

@media (max-width: 580px) {
	.code-wrapper {
		border-radius: 0;
	}
}

.code-wrapper .astro-code {
	margin: 0;
	border-radius: 0;
	padding: 1.75em 1.25em 1.25em 1.25em;
}

:not(pre) > code {
	background-color: #1e1e1e;
	color: #d4d4d4;
	padding: 0.1em;
	border-radius: 0.4em;
	white-space: normal;
}

.code-wrapper::before {
	font-family: 'JetBrains Mono', Consolas, monospace;
	border-radius: 0px 0px 4px 4px;
	padding: 0.25rem 0.5rem;
	background: #d9d7e0;
	position: absolute;
	text-transform: uppercase;
	letter-spacing: 0.075em;
	text-align: right;
	font-size: 0.9rem;
	color: #232129;
	line-height: 1;
	right: 2rem;
	top: 0px;
}

.code-wrapper:has(pre[data-language='html'])::before {
	content: 'html';
	background: #005a9c;
	color: #ffffff;
}

.code-wrapper:has(pre[data-language='js'])::before {
	content: 'js';
	background: #f7df1e;
}

.code-wrapper:has(pre[data-language='ts'])::before {
	content: 'ts';
	background: #294e80;
	color: #ffffff;
}

.code-wrapper:has(pre[data-language='jsx'])::before {
	content: 'jsx';
	background: #61dafb;
}

.code-wrapper:has(pre[data-language='tsx'])::before {
	content: 'tsx';
	background: #294e80;
	color: #ffffff;
}

.code-wrapper:has(pre[data-language='css'])::before {
	content: 'css';
	background: #ff9800;
	color: #ffffff;
}

.code-wrapper:has(pre[data-language='diff'])::before {
	content: 'diff';
	background: #e6ffed;
}

.code-wrapper:has(pre[data-language='json'])::before,
.code-wrapper:has(pre[data-language='json5'])::before {
	content: 'json';
	background: #faf0e6;
}

.code-wrapper:has(pre[data-language='shell'])::before {
	content: 'shell';
	background: #4eaa25;
	color: #ffffff;
}

.code-wrapper:has(pre[data-language='ini'])::before {
	content: 'ini';
	background: #808080;
	color: #ffffff;
}

.code-wrapper:has(pre[data-language='makefile'])::before {
	content: 'makefile';
	background: #ef5350;
	color: #ffffff;
}

.code-wrapper:has(pre[data-language='astro'])::before {
	content: 'astro';
	background: #e43a99;
	color: #ffffff;
}

.code-wrapper:has(pre[data-language='yml'])::before,
.code-wrapper:has(pre[data-language='yaml'])::before {
	content: 'yml';
	background: #7b42bc;
	color: #ffffff;
}
